@import url('https://cdn.syncfusion.com/ej2/material.css');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;&display=swap");
@import url("tldraw/tldraw.css");

.border-red {
  border: 2px solid red;
}

h1 {
  font-weight: 900;
  font-size: clamp(var(--title-font-size), 2.5rem, 3rem);
  color: var(--title-color);
}

h2 {
  font-weight: 600;
  /* font-size: var(--h1-font-size); */
  font-size: clamp(var(--h2-font-size), 2rem, 2.5rem);

  color: var(--title-color);
}

h4 {
  font-weight: 400;
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

img {
  height: auto;
  max-width: 100%;
}

input {
  width: 100%;
  color: var(--second-color);
  padding: 8px;
  background: transparent;
  outline: none;
  border: 2px solid var(--title-color);
  border-radius: 5px;
}

input:focus {
  outline-color: var(--second-color);
}

.btn {
  padding: .5rem 1rem;
  margin: .5rem;
  cursor: pointer;
}

.form-section{
  display: flex;
  align-items: center;
  gap: 2rem;
  color: white;
}

.form-section select {
  color: black;
}